@import '../partials/helpers';

$bio-slide-start-x: 10vmax;
$bio-slide-start-x-ie11: vmax(10);

@keyframes bio-slideInFromRight {
  from {
    transform:
      translateX($bio-slide-start-x);
    opacity: 0;
  }

  to {
    transform:
      translateX(0);
    opacity: 1;
  }
}

.bio__text--hidden {
  visibility: hidden;
}

.bio__text {
  padding-left: 0;
  margin: 6vmax auto;
  list-style: none;
  font-size: 2vmax;
  width: 80%;

  li {
    padding-left: 2em;
    text-indent: -2em;
    margin: 2vmax 0;
  }

  li:before {
    content: attr(data-bullet);
    padding-right: 1.5vmax;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  }
}

.bio__text-right--appear {
  animation: bio-slideInFromRight 0.5s ease-out 0s 1 forwards;
}

/* IE 10+ */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  @keyframes bio-slideInFromRight {
    from {
      transform:
        translateX($bio-slide-start-x-ie11);
      opacity: 0;
    }
  
    to {
      transform:
        translateX(0);
      opacity: 1;
    }
  }
  
  .bio__text {
    padding-left: 0;
    margin: vmax(6) auto;
    list-style: none;
    font-size: vmax(2);
    width: 80%;

    li {
      padding-left: 2em;
      text-indent: -2em;
      margin: vmax(2) 0;
    }

    li:before {
      content: attr(data-bullet);
      padding-right: vmax(1.5);
    }
  }
}

@media screen and (min-width: 1600px) {
  .bio__text {
    font-size: 32px;
    margin: 96px auto;

    li {
      margin: 32px 0;
    }
  
    li:before {
      padding-right: 24px;
    }
  }
}