:root {
  --bio__start-angle: 43deg;
  --bio__end-angle: 2deg;
  --bio-card-width: 325px;
  --bio-text-width: 500px;
}

.bio-list {
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  max-width: 1000px;
  align-content: space-around;
  align-items: center;
  justify-content: space-around;
}

.bio__text {
  width: var(--bio-text-width);
  max-height: var(--bio-card-width);
  margin: 1vmax 0;
  padding: 10px;
  font-size: 2.5vmax;
  display: inline-flex;
  align-items: center;
}

#bio__location {
  font-weight: bold;
}

.bio__card {
  width: var(--bio-card-width);
  height: var(--bio-card-width);
  background-color: #D4E6F1;
  margin: 1vmax 0;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1vmax 1vmax rgba(0, 0, 0, 0.1);
}

.bio__map img {
  border: .5vmax solid white;
  border-radius: .25vmax;
}

.bio__factoids {
  font-size: 1.5vmax;
}

.bio__activity {
  overflow: hidden;
}

.github-chart {
  height: 40%;
  border-radius: 10px;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75)), white url(http://ghchart.rshah.org/mstop4) 100% 45% no-repeat;
}