@import '../partials/helpers';

#contact-form {
  margin: 0 auto 1.5vmax;
  max-width: 1280px;
}

.contact__field {
  display: block;
  box-sizing: border-box;
  margin: 1vmax auto;
  border: 0;
  border-radius: 3.5vmax;
  padding: 1vmax 2vmax;
  font-size: 2.5vmax;
  width: 95%;
  outline: none;
  box-shadow: 1vmax 1vmax rgba(0, 0, 0, 0.1);
}

#contact-message {
  margin: 3vmax auto;
  resize: vertical;
}

.contact-send-wrapper {
  text-align: center;
}

#contact-send {
  font-size: 2.5vmax;
  margin: 1.5vmax auto;
  padding: 1vmax;
  border: none;
  border-radius: 3vmax;
  box-sizing: content-box;
  outline: none;
  justify-content: center;
  display: inline-flex;
  align-items: center;
  width: 25vmax;
  height: 6vmax;
  background-color: #cef0f5;
  box-shadow: 1vmax 1vmax rgba(0, 0, 0, 0.1);

  font-weight: bold;
  color: black;
  font-size: 4vmax;
}

/* IE 10+ */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  #contact-form {
    margin: 0 auto vmax(1.5);
  }
  
  .contact__field {
    margin: vmax(1) auto;
    border-radius: vmax(3.5);
    padding: vmax(1) vmax(2);
    font-size: vmax(2.5);
    box-shadow: vmax(1) vmax(1) rgba(0, 0, 0, 0.1);
  }
  
  #contact-message {
    margin: vmax(3) auto;
  }
  
  #contact-send {
    font-size: vmax(2.5);
    margin: vmax(1.5) auto;
    padding: vmax(1);
    border-radius: vmax(3);
    width: vmax(25);
    height: vmax(6);
    box-shadow: vmax(1) vmax(1) rgba(0, 0, 0, 0.1);
  
      font-size: vmax(4);
  }
}


@media screen and (min-width: 1000px) {
  #contact-form {
    margin: 0 auto 15px;
  }
  
  .contact__field {
    margin: 10px auto;
    border-radius: 35px;
    padding: 10px 20px;
    font-size: 25px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
  }
  
  #contact-message {
    margin: 30px auto;
  }
  
  #contact-send {
    font-size: 25px;
    margin: 15px auto;
    padding: 10px;
    border-radius: 30px;
    width: 250px;
    height: 60px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
  
    font-size: 40px;
  }
}