:root {
  --heading-slide-angle: 4deg;
  --heading-slide-angle-tan: 0.07; /* no trig functions in CSS yet :( */
  --heading-slide-start-x: 25vmax;
  --heading-slide-start-y: calc(var(--heading-slide-start-x) * var(--heading-slide-angle-tan)); 
}

@keyframes heading-slideInFromLeft {
  from {
    transform:
      translateX(calc(-1 * var(--heading-slide-start-x))) 
      translateY(var(--heading-slide-start-y))
      rotate(calc(-1 * var(--heading-slide-angle)));
    opacity: 0;
  }

  to {
    transform:
      translateX(0) 
      translateY(0)
      rotate(calc(-1 * var(--heading-slide-angle)));
    opacity: 1;
  }
}

@keyframes heading-slideInFromRight {
  from {
    transform:
      translateX(var(--heading-slide-start-x))
      translateY(var(--heading-slide-start-y))
      rotate(var(--heading-slide-angle));
    opacity: 0;
  }

  to {
    transform:
      translateX(0) 
      translateY(0)
      rotate(var(--heading-slide-angle));
    opacity: 1;
  }
}

.heading {
  position: relative;
  background-color: white;
  opacity: 1;

  max-width: 22vmax;
  box-shadow: 1vmax 1vmax rgba(0, 0, 0, 0.33);
  font-size: 4vmax;
  overflow-x: hidden;
}

.heading__left {
  margin-left: 0;
  margin-right: auto;
  text-align: left;
  left: -2vmax;

  border-radius: 0 2vmax 2vmax 0;
  transform: rotate(-4deg);

  padding: 0 0 0 3vmax;
}

.heading__left--appear {
  animation: heading-slideInFromLeft 0.5s ease-out 0s 1 forwards;
}

.heading__right {
  margin-left: auto;
  margin-right: 0;
  text-align: right;
  right: -2vmax;

  border-radius: 2vmax 0 0 2vmax;
  transform: rotate(4deg);

  padding: 0 3vmax 0 0;
}

.heading__right--appear {
  animation: heading-slideInFromRight 0.5s ease-out 0s 1 forwards;
}

.heading--hidden {
  visibility: hidden;
}