header {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
  min-height: 75px;
  background-color: white;
  opacity: 0.75;
  transition: opacity 500ms linear;
}

.header--hidden {
  opacity: 0;
}