@import '../partials/vmax';

html {
  overflow-x: hidden;
}

body {
  position: absolute;
  background-color: #85C1E9;
  font-family: "Quicksand", sans-serif;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto; 
}

h1 {
  text-align: center;
  font-size: 6vmax;
  margin: 1vmax 0;
}

p {
  font-size: 2.5vmax;
  margin: 3vmax auto;
  width: 90vw;
  text-align: center;
}

a {
  color: #487dc2;
  text-decoration: none;
}

footer {
  margin: 25px 0 0;
  min-height: 20px;
}

.hidden {
  display: none;
}

.no-scroll {
  position: fixed;
  overflow-y: scroll; 
}

/* IE 10+ */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  h1 {
    text-align: center;
    font-size: vmax(6);
    margin: vmax(1);
  }
  
  p {
    font-size: vmax(2.5);
    margin: vmax(3) auto;
    width: 90vw;
    text-align: center;
  }
}

@media screen and (min-width: 1600px) {
  p {
    font-size: 32px;
    margin: 48px auto;
  }
}