body {
  position: absolute;
  background-color: #85C1E9;
  font-family: "Quicksand", sans-serif;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto; 
}

h1 {
  text-align: center;
  font-size: 6vmax;
  margin: 1vmax 0;
}

p {
  margin: 0 auto;
  width: 90vw;
}

a {
  color: #0E6251;
  text-decoration: none;
}

.hidden {
  display: none;
}

.no-scroll {
  position: fixed;
  overflow-y: scroll; 
}