html {
  overflow-x: hidden;
}

body {
  position: absolute;
  background-color: #85C1E9;
  font-family: "Quicksand", sans-serif;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto; 
}

h1 {
  text-align: center;
  font-size: 6vmax;
  margin: 1vmax 0;
}

p {
  font-size: 2vmax;
  margin: 3vmax auto;
  width: 90vw;
  text-align: center;
}

a {
  color: #487dc2;
  text-decoration: none;
}

footer {
  margin: 25px 0 0;
  min-height: 10px;
}

.hidden {
  display: none;
}

.no-scroll {
  position: fixed;
  overflow-y: scroll; 
}

/* IE 10+ */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  h1 {
    text-align: center;
    font-size: calc(6 * (1vw + 1vh - 1vmin));
    margin: calc(1 * (1vw + 1vh - 1vmin)) 0;
  }
  
  p {
    font-size: calc(2 * (1vw + 1vh - 1vmin));
    margin: calc(3 * (1vw + 1vh - 1vmin)) auto;
    width: 90vw;
    text-align: center;
  }
}

@media screen and (min-width: 1600px) {
  p {
    font-size: 32px;
    margin: 48px auto;
  }
}