@import '../partials/helpers';

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  overflow: hidden;
}

.modal--hidden {
  display: none;
}

.modal__back {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transition: opacity 0.5s;
}

.modal__back--show {
  opacity: 0.5;
}

.modal__close {
  position: fixed;
  top: 2vmax;
  right: 2vmax;
  color: white;
}

.modal__front {
  display: grid;
  position: absolute;
  left: 50vw;
  top: -50vh;
  width: 90vw;
  height: 80vh;
  min-width: 0;
  min-height: 0;
  max-width: 1280px;
  max-height: 720px;

  border-radius: 1.5vmax;
  padding: 1.5vmax;
  background-color: #cef0f5;
  box-shadow: 1vmax 1vmax rgba(0, 0, 0, 0.1);

  grid-template-columns: 60% auto;
  grid-template-rows: 1fr auto auto;
  grid-column-gap: 1vmax;

  transform: translate(-50%, -50%);
  transition: top 0.5s;
}

.modal__front--show {
  top: 50vh;
}

.info__preview {
  align-self: center;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-row: 1 / 4;
}

.info__preview-video {
  position: relative;
  top: -3vmax;
  width: 100%;
  align-self: center;
  box-sizing: border-box;
  border-style: solid;
  border-width: .5vmax;
  border-radius: .25vmax;
  border-color: white;
  background-color: white;
}

.info__title {
  position: absolute;
  left: 1.5vmax;
  bottom: 1vmax;
  color: black;
  font-size: 3vmax;
  align-self: center;
}

.info__text {
  padding: 1vmax;
  overflow-y: auto;
  color: black;
  font-size: 2vmax;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.info__stack {
  padding: 1vmax 0.5vmax;
  display: flex;
  justify-content: center;
  align-items: center;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.stack-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    background-color: white;
    padding: 1vmax;
    border-radius: 2.6vmax;
    font-size: 1.6vmax;
    margin: 0.4vmax;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.links__container {
  display: flex;
  padding: 0.5vmax 1vmax 0;
  justify-content: center;
  align-items: center;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.links__column {
  display: flex;
  flex-direction: column;
}

.links__icon {
  display: table;
  margin: 0 auto;
  font-size: 4vmax;
}

.links__list {
  list-style: none;
  margin: 0 1vmax;
  padding: 0 1vmax;
  font-size: 3vmax;
  font-weight: bold;
  text-align: center;

  li {
    margin: 0.5vmax 0;
  }
}

.links--hidden {
  display: none;
}

/* IE 10+ */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .modal__close {
    top: vmax(2);
    right: vmax(2);
  }
  
  .modal__front {
    display: -ms-grid;
    border-radius: vmax(1.5);
    padding: vmax(1.5);
    box-shadow: vmax(1) vmax(1) rgba(0, 0, 0, 0.1);

    -ms-grid-columns: 60% auto;
    -ms-grid-rows: 1fr auto auto;
    grid-column-gap: vmax(1);
  }
  
  .info__title {
    left: vmax(1.5);
    bottom: vmax(1);
    font-size: vmax(3);
  }
  
  .info__text {
    padding: vmax(1);
    font-size: vmax(2);
  }

  .info__stack {
    padding: vmax(1) vmax(0.5);
  }
  
  .stack-list li {
    padding: vmax(1);
    border-radius: vmax(2.6);
    font-size: vmax(1.6);
    margin: vmax(0.4);
  }

  .links__icon {
    font-size: vmax(4);
  }
  
  .links__list {
    font-size: vmax(3);
    margin: 0 vmax(1);
    padding: 0 vmax(1);

    li {
      margin: vmax(0.5) 0;
    }
  }

  .links__container {
    padding: vmax(0.5) vmax(1) 0;
  }
}

@media screen and (min-width: 1000px) {
  .modal__front {
    border-radius: 20px;
    padding: 15px;
    grid-column-gap: 15px;
  }

  .stack-list li {
    padding: 10px;
    border-radius: 26px;
    font-size: 16px;
    margin: 4px 4px;
  }

  .links__list {
    font-size: 30px;
    margin: 0 10px;
    padding: 0 10px;

    li {
      margin: 5px 0;
    }
  }

  .links__icon {
    font-size: 40px;
  }

  .links__container {
    padding: 5px 10px 0;
  }

  .info__title {
    left: 15px;
  }

  .info__text {
    font-size: 20px;
    padding: 10px;
  }

  .info__stack {
    padding: 10px 5px;
  }
}

@media screen and (max-height: 414px) and (min-aspect-ratio: 1/1) {
  .info__preview-video {
    max-height: 64vh;
    max-width: 54vw;
    width: auto;
  }

  .links__icon {
    display: none;
  }
}

@media screen and (max-aspect-ratio: 1/1) {
  .modal__front {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .info__stack {
    padding: 10px 0;
  }

  .stack-list {
    margin: 10px 0;
  }

  .info__preview-video {
    top: 0;
    max-height: 45vh;
    width: auto;
    max-width: 90vw;
  }

  .links__container {
    flex-grow: 1;
    padding: 10px;
  }

  .info__title {
    position: static;
    left: 0;
    bottom: 0;
    padding: 10px 0;
    text-align: center;
  }

  .info__text {
    flex-basis: 50%;
    flex-shrink: 2;
  }
}
