@import '../partials/vmax';

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  overflow: hidden;
}

.modal--hidden {
  display: none;
}

.modal__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transition: opacity 0.5s;
}

.modal__back--show {
  opacity: 0.5;
}

.modal__back--hidden {
  opacity: 0;
}

.modal__close {
  position: fixed;
  top: 2vmax;
  right: 2vmax;
  color: white;
}

.modal__front {
  display: grid;
  position: absolute;
  left: 50vw;
  top: -50vh;
  width: 90vw;
  height: 80vh;
  min-width: 0;
  min-height: 0;
  max-width: 1280px;
  max-height: 720px;

  border-radius: 1.5vmax;
  padding: 1.5vmax;
  background-color: #D4E6F1;
  box-shadow: 1vmax 1vmax rgba(0, 0, 0, 0.1);

  grid-template-columns: 60% auto;
  grid-template-rows: 1fr;
  grid-column-gap: 1vmax;

  transform: translate(-50%, -50%);
  transition: top 0.5s;
}

.modal__front--show {
  top: 50vh;
}

.modal__front--hidden {
  top: -50vh;
}

.info__preview {
  grid-row: 1 / 4;
}

.info__preview-border {
  width: 100%;
  align-self: center;
  box-sizing: border-box;
  border-style: solid;
  border-width: 0.5vmax;
  border-radius: 0.25vmax;
  border-color: white;
}

.info__preview-video {
  width: 100%;
  display: block;
}

.info__title {
  position: absolute;
  left: 1.5vmax;
  bottom: 1vmax;
  color: black;
  font-size: 3vmax;
  align-self: center;
}

.info__text {
  padding: 10px;
  overflow-y: auto;
  color: black;
  font-size: 2vmax;
}

.info__stack {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stack-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.stack-list li {
  background-color: white;
  padding: 1vmax;
  border-radius: 2.6vmax;
  font-size: 1.6vmax;
  margin: 0.4vmax;
}

.links__container {
  display: flex;
  padding: 10px 10px 0 10px;
  justify-content: center;
  align-items: center;
}

.links__column {
  display: flex;
  flex-direction: column;
}

.links__icon {
  display: table;
  margin: 0 auto;
  font-size: 3vmax;
}

.links__list {
  list-style: none;
  margin: 0 10px;
  padding: 0 10px;
  font-size: 2.5vmax;
  font-weight: bold;
}

.links__list li {
  margin: 0;
}

.links--hidden {
  display: none;
}

/* IE 10+ */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .modal__close {
    top: vmax(2);
    right: vmax(2);
  }
  
  .modal__front {

    border-radius: vmax(1.5);
    padding: vmax(1.5);
    box-shadow: vmax(1) vmax(1) rgba(0, 0, 0, 0.1);
    grid-column-gap: vmax(1);
  }
  
  .info__preview-border {
    border-width: vmax(0.5);
    border-radius: vmax(0.25); 
  }
  
  .info__title {
    left: vmax(1.5);
    bottom: vmax(1);
    font-size: vmax(3);
  }
  
  .info__text {
    font-size: vmax(2);
  }
  
  .stack-list li {
    padding: vmax(1);
    border-radius: vmax(2.6);
    font-size: vmax(1.6);
    margin: vmax(0.4);
  }
  
  .links__icon {
    font-size: vmax(3);
  }
  
  .links__list {
    font-size: vmax(2.5);
  }
}

@media screen and (min-width: 1000px) {
  .modal__front {
    border-radius: 20px;
    padding: 15px;
    grid-column-gap: 15px;
  }

  .stack-list li {
    padding: 10px;
    border-radius: 26px;
    font-size: 16px;
    margin: 4px 4px;
  }

  .links__list {
    font-size: 25px;
  }

  .links__icon {
    font-size: 30px;
  }

  .info__title {
    left: 15px;
  }

  .info__text {
    font-size: 20px;
  }
}

@media screen and (max-height: 414px) {
  .links__icon {
    display: none;
  }
}

@media screen and (max-width: 414px) {
  .modal__front {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .info__stack {
    padding: 10px 0;
  }

  .stack-list {
    margin: 10px 0;
  }

  .links__container {
    flex-grow: 1;
    padding: 10px;
  }

  .info__title {
    position: static;
    left: 0;
    bottom: 0;
    padding: 10px 0;
    text-align: center;
  }

  .info__text {
    flex-basis: 50%;
    flex-shrink: 2;
  }
}
