@import '../partials/helpers';

$icon-width: 9vmax;
$icon-width-ie: vmax(9);
$chip-width: 12vmax;
$chip-width-ie: vmax(12);
$skill-start-angle: 43deg;
$skill-end-angle: 0deg;

@keyframes skill-appearLeft {
  from {
    transform: scale(0) rotate(-$skill-start-angle);
    opacity: 0;
  }

  to {
    transform: scale(1) rotate($skill-end-angle);
    opacity: 1;
  }
}

.skills__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0;
  width: 90%;
  max-width: 900px;
  margin: 0 auto;

  li {
    list-style-type: none;
    word-wrap: break-word;
    margin: 1vmax 1vmax;
    text-align: center;
    width: $chip-width;
    max-width: 120px;

    .skills__tech {
      font-size: 2vmax;
    }
  
    img {
      width: $icon-width;
      max-width: 90px;
      background-color: white;
      border-radius: 50%;
      border: #acdee8 solid 0.25vmax;
    }
  }
}

.skills__tech--show {
  animation: skill-appearLeft 0.6s $ease-out-back 0s forwards;
}

.skills--hidden {
  visibility: hidden;
}

/* IE10+ */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .skills__list li {
    width: $chip-width-ie;
    margin: vmax(1) vmax(1);

    .skills__tech {
      font-size: vmax(2);
    }

    img {
      width: $icon-width-ie;     
    }
  }
}

@media screen and (min-width: 1000px) {
  .skills__list li {
    margin: 10px 10px;

    .skills__tech {
      font-size: 20px;
    }
  }
}