#splash {
  margin: 0 auto;
  width: 90vw;
  height: 100vh;
  background-color: gray;
}

.tagline {
  text-align: center;
}

.photo {
  width: 20vmax;
  height: 20vmax;
  display: block;
  margin: 0 auto;
  border-style: solid;
  border-width: 1vmax;
  border-radius: 20vmax;
  border-color: white;
  background-color: white;
  background-image: url("img/photo.jpg");
  background-position: center;
  background-size: cover;
}