#splash {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100vh;
}

#splash:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0 0;
  background: linear-gradient(to bottom, rgba(133, 193, 233, 0) 0%, rgba(133, 193, 233, 0) 50%, rgba(133, 193, 233, 1)) 100%, #85C1E9 url("../img/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(4px);
}

.splash__wrapper {
  position: relative;
  margin: auto 0;
  padding: 0 5vw;
  display: table-cell;
  vertical-align: middle;
}

.tagline {
  text-align: center;
}

.photo {
  width: 20vmax;
  height: 20vmax;
  display: block;
  margin: 0 auto;
  border-style: solid;
  border-width: 1vmax;
  border-radius: 20vmax;
  border-color: white;
  background-color: white;
  background-image: url("../img/photo.jpg");
  background-position: center;
  background-size: cover;
}