#splash {
  margin: 0 auto;
  width: 100vw;
  height: 133vh;
  display: table;
  table-layout: fixed;
}

.splash__background {
  width: 100vw;
  height: 133vh;
  z-index: -1;
  position: absolute;
  background: linear-gradient(to bottom, rgba(133, 193, 233, 0) 0%, rgba(133, 193, 233, 0) 75%, rgba(133, 193, 233, 1)) 100%, #85C1E9 url("../img/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(8px);
}

.splash__wrapper {
  position: relative;
  top: -16.5vh;
  width: 100%;
  margin: auto 0;
  padding: 0 5vw;
  display: table-cell;
  vertical-align: middle;
}

.tagline {
  font-size: 3vmax;
  text-align: center;
}

.photo {
  width: 20vmax;
  height: 20vmax;
  display: block;
  margin: 0 auto;
  border-style: solid;
  border-width: 1vmax;
  border-radius: 20vmax;
  border-color: white;
  background-color: white;
  background-image: url("../img/photo.jpg");
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 1600px) {
  .tagline {
    font-size: 48px;
  }
}