#splash {
  margin: 0 auto;
  width: 100vw;
  height: 133vh;
  display: table;
  table-layout: fixed;
}

.splash__background {
  width: 100vw;
  height: 133vh;
  z-index: -1;
  position: absolute;
  background: linear-gradient(to bottom, rgba(133, 193, 233, 0) 0%, rgba(133, 193, 233, 0) 75%, rgba(81, 181, 207, 1)) 100%, #51b5cf url("../img/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(8px);
}

.splash__wrapper {
  position: relative;
  top: -16.5vh;
  width: 100%;
  margin: auto 0;
  padding: 0 5vw;
  display: table-cell;
  vertical-align: middle;
}

.tagline {
  font-size: 3vmax;
  text-align: center;
}

/* IE 10+ */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .tagline {
    font-size: vmax(3);
  }
  
  .photo {
    width: vmax(20);
    height: vmax(20);
    border-width: vmax(1);
    border-radius: vmax(20);
  }
}

@media screen and (min-width: 1600px) {
  .tagline {
    font-size: 48px;
  }
}