.bio__factoids {
  height: 100%;
  border-radius: 10px;
  background-color: white;
  list-style-type: none;
  font-size: 4vw;
  font-family: 'Mali',cursive;
  margin: 0;
  padding: 2vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.bio__factoids li {
  margin: 8px 0;
}

.datamuse-query {
  border: 0;
  border-bottom: 1px solid gray;
  width: 40%;
  font-weight: bold;
  text-align: center;
}

.datamuse-query:focus {
  outline: none;
}

.datamuse-answer {
  margin: 4px 0 0;
  color: black;
  transition: color 500ms linear;
}

.datamuse-answer--hidden {
  color: white;
  transition: color 0s linear;
}

.datamuse-search {
  box-sizing: content-box;
  width: 20vw;
  background-color: #6bc4ff;
  border: 0;
  border-radius: 5vw;
  outline: 0;
  padding: 1vw 4vw 1.25vw;
  transition: background-color 150ms linear;
}

.datamuse-search:active {
  background-color: #7eeaf2;
  transition: background-color 150ms linear;
}

@media screen and (min-width: 500px) {
  .bio__factoids {
    font-size: 20px;
    padding: 10px;
  }

  .datamuse-search {
    width: 100px;
    border-radius: 25px;
    padding: 5px 20px 6.25px;
  }
}