.bio__activity {
  overflow: hidden;
}

.github-chart {
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75)), white url(https://ghchart.rshah.org/mstop4) 100% 3% no-repeat;
  overflow: hidden;
}

.github-events {
  font-family: 'Mali',cursive;
  margin: 0;
  padding: 0 2.1vw;
  position: relative;
  top: calc(96px + 2vmax);
  list-style-type: none;
}

.github-events li {
  margin: 8px 0;
}