@import url("techs.css");

:root {
  --bio-slide-start-x: 10vmax;
}

@keyframes bio-slideInFromRight {
  from {
    transform:
      translateX(var(--bio-slide-start-x));
    opacity: 0;
  }

  to {
    transform:
      translateX(0);
    opacity: 1;
  }
}

.bio__text--hidden {
  visibility: hidden;
}

.bio__text {
  padding-left: 0;
  margin: 0 auto;
  list-style: none;
  font-size: 2vmax;
  width: 90%;
}

.bio__text li {
  padding-left: 2em;
  text-indent: -2em;
  margin: 1vmax 0;
}

.bio__text li:before {
  content: attr(data-bullet);
  padding-right: 1vmax;
}

.bio__text-right--appear {
  animation: bio-slideInFromRight 0.5s ease-out 0s 1 forwards;
}