@import url("techs.css");

:root {
  --bio-slide-start-x: 10vmax;
}

@keyframes bio-slideInFromRight {
  from {
    transform:
      translateX(var(--bio-slide-start-x));
    opacity: 0;
  }

  to {
    transform:
      translateX(0);
    opacity: 1;
  }
}

.bio__text--hidden {
  visibility: hidden;
}

.bio__text {
  padding-left: 0;
  margin: 6vmax auto;
  list-style: none;
  font-size: 2vmax;
  width: 80%;
}

.bio__text li {
  padding-left: 2em;
  text-indent: -2em;
  margin: 2vmax 0;
}

.bio__text li:before {
  content: attr(data-bullet);
  padding-right: 1.5vmax;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.33);
}

.bio__text-right--appear {
  animation: bio-slideInFromRight 0.5s ease-out 0s 1 forwards;
}

@media screen and (min-width: 1600px) {
  .bio__text {
    font-size: 32px;
    margin: 96px auto;
  }

  .bio__text li {
    margin: 32px 0;
  }

  .bio__text li:before {
    padding-right: 24px;
  }
}