:root {
  --contact__start-angle: 44deg;
  --contact__end-angle: 1deg;
}

@keyframes contact-appear--left{
  from {
    transform: scale(0) rotate(calc(var(--contact__start-angle) * -1));
    opacity: 0;
  }

  to {
    transform: scale(1) rotate(var(--contact__end-angle));
    opacity: 1;
  }
}

@keyframes contact-appear--right {
  from {
    transform: scale(0) rotate(var(--contact__start-angle));
    opacity: 0;
  }

  to {
    transform: scale(1) rotate(calc(var(--contact__end-angle) * -1));
    opacity: 1;
  }
}

.contact-list {
  margin: 0 auto;
  display: grid;
  max-width: 960px;
  grid-template-columns: repeat(auto-fit, minmax(465px, 1fr));
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: space-around;
}

.contact {
  display: inline-flex;
  align-items: center;
  width: 92.5%;
  background-color: #D4E6F1;
  padding: 10px;
  margin: 1vmax;
  border-radius: 10px;
  box-shadow: 1vmax 1vmax rgba(0, 0, 0, 0.1);
}

.contact--left {
  transform: rotate(2deg);
}

.contact--left-appear {
  animation: contact-appear--left 0.3s ease-out 0s forwards;
}

.contact--right {
  transform: rotate(-2deg);
}

.contact--right-appear {
  animation: contact-appear--right 0.3s ease-out 0s forwards;
}

.contact a {
  margin: 10px;
  font-weight: bold;
  font-size: 24px;
}

.contact--hidden {
  visibility: hidden;
}

@media screen and (max-width: 939px) {
  .contact-list {
    grid-column-gap: 0;
    grid-template-columns: 100vw;
  }

  .contact a {
    font-size: 27px;
  }  
}

@media screen and (max-width: 549px) {
  .contact a {
    font-size: 5vw;
  }  
}